# Configuration file for datadump.py
# Edit this file at your own risk


[REGEX]

PHONES="(((\d{3}\d{3}\d{4})))"

EMAILS="(([-a-z0-9_.]+@(?:[-a-z0-9]+\.)+[a-z]{2,6}))"

IPS="(((?:[\d]{1,3})\.(?:[\d]{1,3})\.(?:[\d]{1,3})\.(?:[\d]{1,3})))"

URLS="((rftps?|https?):((//)|(\\\\))+[\w\d:#@%/;$()~_?\+-=\\\.&]*)"




